In [1]:
import os
import pandas as pd
import glob
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import gc

# 메타 데이터 합치기

In [2]:
metaCleaningSupplies = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/cleaningSupplies.csv')
metaCleaningSupplies['Category'] = 'cleaningSupplies'
metaCleaningSupplies = metaCleaningSupplies[['Asin','Category']]
metaCleaningSupplies

           Asin          Category
0    B00004OCIZ  cleaningSupplies
1    B00004OCLJ  cleaningSupplies
2    B00094EWE2  cleaningSupplies
3    B000CC91GK  cleaningSupplies
4    B000V6YLNA  cleaningSupplies
..          ...               ...
358  B09X9RY3DG  cleaningSupplies
359  B09Y8RYLC4  cleaningSupplies
360  B09YHNYFBP  cleaningSupplies
361  B0B18KJF62  cleaningSupplies
362  B0B3HTNL38  cleaningSupplies

[363 rows x 2 columns]

In [3]:
metaFurniture = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/furniture.csv')
metaFurniture['Category'] = 'furniture'
metaFurniture = metaFurniture[['Asin','Category']]
metaFurniture

           Asin   Category
0    B07SHFPD8S  furniture
1    B00NKYYMAW  furniture
2    B097PVKRYM  furniture
3    B01D58DRVC  furniture
4    B00KXTZ3BE  furniture
..          ...        ...
406  B08XX3V5DD  furniture
407  B08CPB9TQR  furniture
408  B089ZW5K79  furniture
409  B09NCXKB7H  furniture
410  B075TKSLWG  furniture

[411 rows x 2 columns]

In [4]:
metaLighting_CeilingFans = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/lighting&ceilingFans.csv')
metaLighting_CeilingFans['Category'] = 'Lighting_CeilingFans'
metaLighting_CeilingFans = metaLighting_CeilingFans[['Asin','Category']]
metaLighting_CeilingFans

           Asin              Category
0    B000SL2C9I  Lighting_CeilingFans
1    B000U39SXW  Lighting_CeilingFans
2    B00176KYWK  Lighting_CeilingFans
3    B006T325UU  Lighting_CeilingFans
4    B00ALWECUG  Lighting_CeilingFans
..          ...                   ...
240  B09Y91M7HJ  Lighting_CeilingFans
241  B09YH8Q9QQ  Lighting_CeilingFans
242  B09YYKZXZD  Lighting_CeilingFans
243  B09ZNW4886  Lighting_CeilingFans
244  B09ZYDL7DN  Lighting_CeilingFans

[245 rows x 2 columns]

In [5]:
metaWallArt = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/wallArt.csv')
metaWallArt['Category'] = 'Lighting_CeilingFans'
metaWallArt = metaWallArt[['Asin','Category']]
metaWallArt

           Asin              Category
0    B000JW4JOM  Lighting_CeilingFans
1    B000K8C9BK  Lighting_CeilingFans
2    B003T179XI  Lighting_CeilingFans
3    B004UNA5UI  Lighting_CeilingFans
4    B004VER6S0  Lighting_CeilingFans
..          ...                   ...
470  B09ZKF44MH  Lighting_CeilingFans
471  B09ZNTCQXX  Lighting_CeilingFans
472  B09ZV9Q3P1  Lighting_CeilingFans
473  B09ZVCQ9GS  Lighting_CeilingFans
474  B0B4C4VTLR  Lighting_CeilingFans

[475 rows x 2 columns]

In [6]:
# items = pd.concat([metaCleaningSupplies, metaFurniture, metaWallArt])
# items

In [7]:
# items2 = pd.concat([metaCleaningSupplies, metaFurniture, metaWallArt])
# items2

In [8]:
items = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/cleaningSupplies.csv')
items['Category'] = 'cleaningSupplies'
items = metaCleaningSupplies[['Asin','Category']]

items2 = pd.read_csv('E://Amazon review data (2018)/100. amazon product data/cleaningSupplies.csv')
items2['Category'] = 'cleaningSupplies'
items2 = metaCleaningSupplies[['Asin','Category']]

In [9]:
asinList = list(set(items['Asin']))
asinNumber = {}
idx = 0

for i in asinList:
    asinNumber[i] = idx
    idx += 1
        
asinNumber

{'B07TXNM63K': 0,
 'B071G1J8TZ': 1,
 'B089CSBGXQ': 2,
 'B091YL5JF3': 3,
 'B079X4TV2L': 4,
 'B06XT975GZ': 5,
 'B09CGGDQM5': 6,
 'B07FM3HHWT': 7,
 'B015CM2AA8': 8,
 'B0896YK2X5': 9,
 'B0895XZJHZ': 10,
 'B01CFIHGLA': 11,
 'B07FYVB9Q9': 12,
 'B08P2V5C5Q': 13,
 'B00A3C842G': 14,
 'B0026T1A8E': 15,
 'B08QTZRFYC': 16,
 'B076D3FRSH': 17,
 'B07YRQWNX2': 18,
 'B087PKS1P7': 19,
 'B09CYNK2ZV': 20,
 'B07YW8SCZ9': 21,
 'B09JGPPHB4': 22,
 'B0746MWFWJ': 23,
 'B09NQVQR8W': 24,
 'B077XCCJ2B': 25,
 'B010B2LM4Y': 26,
 'B08BW46J2X': 27,
 'B07SPFGTN3': 28,
 'B0141A3RAY': 29,
 'B01NAAJLVG': 30,
 'B07TNHWFXJ': 31,
 'B07NKNJ1PX': 32,
 'B07N4BPJS8': 33,
 'B003IS3HV0': 34,
 'B004ZLAGJK': 35,
 'B0132G13RM': 36,
 'B08PDMZFND': 37,
 'B081NPK5Y2': 38,
 'B08RT1NF23': 39,
 'B076HSNBTD': 40,
 'B09X9RY3DG': 41,
 'B07S6MQL81': 42,
 'B01LYO7RQO': 43,
 'B08XXC9GQ2': 44,
 'B07FCH67ZQ': 45,
 'B00FK8SX2Y': 46,
 'B0821NCQLD': 47,
 'B08G19R5G6': 48,
 'B0102GRAUY': 49,
 'B009FUF6DM': 50,
 'B09GBBRJN8': 51,
 'B07VWL357N': 52,
 'B09MZVVKDT': 53,
 'B0B18KJF62': 54,
 'B004KQBPJK': 55,
 'B0010B5EQS': 56,
 'B0829ZQ6CD': 57,
 'B09NW7WVFR': 58,
 'B07TZSCDJD': 59,
 'B08SMLNWX1': 60,
 'B00BFUSDO4': 61,
 'B079KMPJ12': 62,
 'B06Y5JW8NY': 63,
 'B08MTMJ4HY': 64,
 'B01JQ9CXJG': 65,
 'B09J1PQ2KY': 66,
 'B01MYUJIC0': 67,
 'B086W2MQTQ': 68,
 'B07YQDFRYR': 69,
 'B07DBC5DYP': 70,
 'B07S4D95XK': 71,
 'B08BS1F677': 72,
 'B081BBTYD6': 73,
 'B00A3CNLKQ': 74,
 'B095PM2HG9': 75,
 'B09PF942H4': 76,
 'B007C5IH4C': 77,
 'B08ZKHMBBH': 78,
 'B003KJ6KNO': 79,
 'B07F1DTKTF': 80,
 'B09Y8RYLC4': 81,
 'B09MZ3V14B': 82,
 'B01MQQB5VN': 83,
 'B093CPNMNR': 84,
 'B00RARXPXA': 85,
 'B08NC9GGVX': 86,
 'B07BN29BPM': 87,
 'B088NFBS3B': 88,
 'B006YFCHSS': 89,
 'B06XT2SZMD': 90,
 'B091Q8HDJW': 91,
 'B08WJS836M': 92,
 'B094PRPP96': 93,
 'B09H2NWP16': 94,
 'B008R7CR9A': 95,
 'B09JZPNMZL': 96,
 'B07NFL7WS8': 97,
 'B09NR95FRC': 98,
 'B082N15K8V': 99,
 'B00JEQG4X8': 100,
 'B08SGQ5VHZ': 101,
 'B01M1HL4C4': 102,
 'B08Q3HFN7V': 103,
 'B07M77V71T': 104,
 'B00DH4DUBM': 105,
 'B011HAWZ2W': 106,
 'B07NV1Z9CG': 107,
 'B08CBN8NMN': 108,
 'B07KJ4V94B': 109,
 'B091NMJ7JT': 110,
 'B09573GMW6': 111,
 'B08FBTH78K': 112,
 'B00094EWE2': 113,
 'B00004OCIZ': 114,
 'B00JLREFKE': 115,
 'B00ED3PJ2Y': 116,
 'B0040ZOD9K': 117,
 'B0899N4GY4': 118,
 'B0B3HTNL38': 119,
 'B07PZ5F394': 120,
 'B08YK6RFSX': 121,
 'B06W9M3H9S': 122,
 'B09G9B3VHS': 123,
 'B07DJNKG5J': 124,
 'B010B2LLOK': 125,
 'B07XZ2725F': 126,
 'B09MFW6L1V': 127,
 'B0087S2QAE': 128,
 'B086HBMC64': 129,
 'B09V7Z5C3D': 130,
 'B08XMBKCJD': 131,
 'B075FHF7TY': 132,
 'B087PC9KCD': 133,
 'B08TRPHZ49': 134,
 'B07N1V79BT': 135,
 'B0076RQNDI': 136,
 'B0896SMR2P': 137,
 'B09SXL2168': 138,
 'B0875K5JK1': 139,
 'B07SM88VVF': 140,
 'B08RK666LG': 141,
 'B074TTGM23': 142,
 'B09R292MWC': 143,
 'B086PCFV9C': 144,
 'B09J1QJH6S': 145,
 'B07F268WY8': 146,
 'B0999RQBMV': 147,
 'B07SPFBQ64': 148,
 'B00E9V4P02': 149,
 'B08WJQSYZC': 150,
 'B00DH4IQSE': 151,
 'B07LDBJ49X': 152,
 'B06XSZ2BMK': 153,
 'B00HWNVEXK': 154,
 'B004IR3044': 155,
 'B01E40877Y': 156,
 'B086LDH3XH': 157,
 'B088223DXD': 158,
 'B0746H3KB2': 159,
 'B07FFRJQ8S': 160,
 'B0923QRZG8': 161,
 'B08FGH2V5Q': 162,
 'B07DFGDGVK': 163,
 'B07BV8MQBT': 164,
 'B094NSTFV6': 165,
 'B09CH3S33T': 166,
 'B07MW4W18M': 167,
 'B082PWS3RZ': 168,
 'B01CYTW58Y': 169,
 'B09KTM1D19': 170,
 'B001N09KN4': 171,
 'B07C4BMSH4': 172,
 'B09DKTBXBQ': 173,
 'B082W29G1C': 174,
 'B07K7VWYYL': 175,
 'B07NR3M3C2': 176,
 'B09MJZLX7W': 177,
 'B08HMZZLZT': 178,
 'B07V43JT35': 179,
 'B01K0DAKJW': 180,
 'B083BG2MJ8': 181,
 'B07TZV39M5': 182,
 'B00Q8VI480': 183,
 'B00RD982MO': 184,
 'B07CMMDVYT': 185,
 'B08W2BD96D': 186,
 'B010N0N7PQ': 187,
 'B07NWC11T6': 188,
 'B07WRWNR61': 189,
 'B092VPGJB9': 190,
 'B09TX7CQMW': 191,
 'B07G7XG6BV': 192,
 'B00B7ALYMK': 193,
 'B00OKD7F88': 194,
 'B07QY8P3B1': 195,
 'B001E6CTYO': 196,
 'B07H8R5V3G': 197,
 'B09MCYDSR8': 198,
 'B08HM8LCBY': 199,
 'B07Q3NYBG1': 200,
 'B010OW4KMW': 201,
 'B07N1SZ6FH': 202,
 'B00ASBOP9S': 203,
 'B08MQ4D9C7': 204,
 'B084KX8M8L': 205,
 'B09J1RHC1C': 206,
 'B0040ZOD0Y': 207,
 'B097HVGTZV': 208,
 'B09CD6Z7GB': 209,
 'B098D79MQB': 210,
 'B079J95522': 211,
 'B071WMZCFC': 212,
 'B08R2NR6XB': 213,
 'B07515TW8M': 214,
 'B07622VSV3': 215,
 'B0952X6231': 216,
 'B092Z1NHRN': 217,
 'B00L9YOPDY': 218,
 'B093WZZLL7': 219,
 'B00E0MXUME': 220,
 'B01ANSJUTK': 221,
 'B09KSB4134': 222,
 'B07V4R1YS9': 223,
 'B00UB9QSAQ': 224,
 'B08F77MWYF': 225,
 'B09DKQ7D3B': 226,
 'B08PKXW377': 227,
 'B005KDD1VM': 228,
 'B07176372T': 229,
 'B077SM5JCF': 230,
 'B08Q843CY4': 231,
 'B07TYPC5ZW': 232,
 'B09CPNV68L': 233,
 'B08DF4PSKK': 234,
 'B07F2GMDS9': 235,
 'B08VXVF15B': 236,
 'B07Q5VHD6V': 237,
 'B01LWL7D3U': 238,
 'B098BNRYVY': 239,
 'B01MRLZ43B': 240,
 'B07DNNT27X': 241,
 'B08TMMYK6P': 242,
 'B07V2LQGT4': 243,
 'B085XYYHML': 244,
 'B07P83NM96': 245,
 'B00AQIULD2': 246,
 'B07P7NFV1F': 247,
 'B004MDM8QU': 248,
 'B073WYBGP3': 249,
 'B07CLDNYWH': 250,
 'B086D86L59': 251,
 'B005KDDLQ2': 252,
 'B08RYG57PG': 253,
 'B098BNDLLR': 254,
 'B07Q2MKX5C': 255,
 'B07MX46M6H': 256,
 'B07RH9VSL4': 257,
 'B082XRB79L': 258,
 'B07H8QG78V': 259,
 'B07JCB5WRV': 260,
 'B016OIK6DM': 261,
 'B007TSJLCE': 262,
 'B08D6T4DKS': 263,
 'B005BGCI8K': 264,
 'B01FSY4YKO': 265,
 'B000VB69X0': 266,
 'B07T8FDKD3': 267,
 'B08QM81BJV': 268,
 'B083RRKSGM': 269,
 'B088NKJT4L': 270,
 'B09PFT3G9W': 271,
 'B07YC9K3XC': 272,
 'B093X3LT5Z': 273,
 'B074FG7RJQ': 274,
 'B08DY7L439': 275,
 'B07WGKQVN7': 276,
 'B079VRXLXJ': 277,
 'B0917GV13P': 278,
 'B07YMRNC4Y': 279,
 'B082STTCF1': 280,
 'B09R4V1VLZ': 281,
 'B087PBHCV7': 282,
 'B098355866': 283,
 'B000CC91GK': 284,
 'B09PC1W676': 285,
 'B06XP1QHRF': 286,
 'B006VABXBS': 287,
 'B01AB21E4M': 288,
 'B01C6KUNZI': 289,
 'B07LF5Z88H': 290,
 'B00H7ELSQW': 291,
 'B095PL2MPZ': 292,
 'B01ES6C8GA': 293,
 'B08R7C5RJZ': 294,
 'B08225B4QF': 295,
 'B07TC7B9RS': 296,
 'B09171GW45': 297,
 'B01BZ0N69U': 298,
 'B08KHSDF2R': 299,
 'B096RCXC7B': 300,
 'B08Q3H3ZXG': 301,
 'B01DZVRY22': 302,
 'B087P2YWZR': 303,
 'B005T419YI': 304,
 'B010E209YU': 305,
 'B076BB7DYS': 306,
 'B00004OCLJ': 307,
 'B098DX1VD6': 308,
 'B07PWRP7SZ': 309,
 'B09SYYRBVP': 310,
 'B095HGQP8Y': 311,
 'B06XDK78GQ': 312,
 'B01J7L5OQ2': 313,
 'B08BC64VWZ': 314,
 'B077QZ3W2H': 315,
 'B001003FM4': 316,
 'B01B5ECU3O': 317,
 'B00DKDOKEG': 318,
 'B07W6SSJ1N': 319,
 'B013H12DLM': 320,
 'B00DH4IT7C': 321,
 'B09KM5LWL1': 322,
 'B07RZRHS8J': 323,
 'B074FG8RDD': 324,
 'B010B2LK7S': 325,
 'B08HGPSFCC': 326,
 'B07TNT37W4': 327,
 'B09FW2R4W1': 328,
 'B08B13G5B4': 329,
 'B093CPJFFM': 330,
 'B09CD6QTPH': 331,
 'B071FGCY55': 332,
 'B08WQCCVHC': 333,
 'B09H2LKMTH': 334,
 'B07JD9LCN8': 335,
 'B0711HBWJF': 336,
 'B09DY1VRDC': 337,
 'B086MDQKTH': 338,
 'B09NDMLHCM': 339,
 'B07DY4GLMW': 340,
 'B07QWLGN4N': 341,
 'B01LRMN9ZM': 342,
 'B00KAJ42GO': 343,
 'B09HSD6Q22': 344,
 'B00C4LJ45K': 345,
 'B07XGJQPLJ': 346,
 'B084MVY7GQ': 347,
 'B0143GZ1LE': 348,
 'B07CNQBPCG': 349,
 'B092VQMW7T': 350,
 'B087V8JHSD': 351,
 'B00DH4IUMQ': 352,
 'B09B3N6VDK': 353,
 'B000V6YLNA': 354,
 'B09YHNYFBP': 355,
 'B07RZLGQPZ': 356,
 'B07YN9CXXQ': 357,
 'B08L7TM6CQ': 358,
 'B07RMHNHYC': 359,
 'B07ZF9C3WP': 360,
 'B076SLXGNF': 361,
 'B07PVBD58K': 362}

In [10]:
numberList = []
for i in items['Asin']:
    numberList.append(asinNumber.get(i))
items['AsinNumber'] = numberList
items

           Asin          Category  AsinNumber
0    B00004OCIZ  cleaningSupplies         114
1    B00004OCLJ  cleaningSupplies         307
2    B00094EWE2  cleaningSupplies         113
3    B000CC91GK  cleaningSupplies         284
4    B000V6YLNA  cleaningSupplies         354
..          ...               ...         ...
358  B09X9RY3DG  cleaningSupplies          41
359  B09Y8RYLC4  cleaningSupplies          81
360  B09YHNYFBP  cleaningSupplies         355
361  B0B18KJF62  cleaningSupplies          54
362  B0B3HTNL38  cleaningSupplies         119

[363 rows x 3 columns]

In [11]:
items = items[['AsinNumber','Category']]

In [12]:
items

     AsinNumber          Category
0           114  cleaningSupplies
1           307  cleaningSupplies
2           113  cleaningSupplies
3           284  cleaningSupplies
4           354  cleaningSupplies
..          ...               ...
358          41  cleaningSupplies
359          81  cleaningSupplies
360         355  cleaningSupplies
361          54  cleaningSupplies
362         119  cleaningSupplies

[363 rows x 2 columns]

In [13]:
items2

           Asin          Category
0    B00004OCIZ  cleaningSupplies
1    B00004OCLJ  cleaningSupplies
2    B00094EWE2  cleaningSupplies
3    B000CC91GK  cleaningSupplies
4    B000V6YLNA  cleaningSupplies
..          ...               ...
358  B09X9RY3DG  cleaningSupplies
359  B09Y8RYLC4  cleaningSupplies
360  B09YHNYFBP  cleaningSupplies
361  B0B18KJF62  cleaningSupplies
362  B0B3HTNL38  cleaningSupplies

[363 rows x 2 columns]

# 리뷰 데이터 합치기

In [14]:
# dfCFWL = pd.read_csv('./dfCFW.csv')
dfCFWL = pd.read_csv('./ratingsCleaningSupplies.csv')

dfCFWL

,Unnamed: 0,ID,Asin,Rating,Category,AsinNumber
0,0,J. L.,B00004OCIZ,1,cleaningSupplies,705
1,1,Stephen Bolster,B00004OCIZ,3,cleaningSupplies,705
2,2,Amazon Customer,B00004OCIZ,2,cleaningSupplies,705
3,3,Tabletopper,B00004OCIZ,1,cleaningSupplies,705
4,4,Eric,B00004OCIZ,1,cleaningSupplies,705
...,...,...,...,...,...,...
32757,32757,nyla martens,B0B3HTNL38,5,cleaningSupplies,734
32758,32758,Amazon Customer,B0B3HTNL38,5,cleaningSupplies,734
32759,32759,peter souza,B0B3HTNL38,5,cleaningSupplies,734
32760,32760,Micheal,B0B3HTNL38,1,cleaningSupplies,734
32761,32761,Barbara S,B0B3HTNL38,5,cleaningSupplies,734

In [15]:
print(dfCFWL['AsinNumber'].nunique())
print(dfCFWL['Asin'].nunique())

357
357

In [16]:
ratings = dfCFWL[['ID', 'Asin','Rating']]
ratings

                    ID        Asin  Rating
0                J. L.  B00004OCIZ       1
1      Stephen Bolster  B00004OCIZ       3
2      Amazon Customer  B00004OCIZ       2
3          Tabletopper  B00004OCIZ       1
4                 Eric  B00004OCIZ       1
...                ...         ...     ...
32757     nyla martens  B0B3HTNL38       5
32758  Amazon Customer  B0B3HTNL38       5
32759      peter souza  B0B3HTNL38       5
32760          Micheal  B0B3HTNL38       1
32761        Barbara S  B0B3HTNL38       5

[32762 rows x 3 columns]

In [17]:
idList = list(set(ratings['ID']))

idNumber = {}
idx = 0

for i in idList:
    idNumber[i] = idx
    idx += 1
        
idNumber

{nan: 0,
 'James Bailey': 1,
 'Jackie Davis': 2,
 'T. L. Campisi': 3,
 'Marla C. Daniels': 4,
 'Jeff G.': 5,
 'MayaLa': 6,
 'Gman': 7,
 'Breshkai Berlin': 8,
 'Amy James': 9,
 'Hawgfan': 10,
 'tennismama1': 11,
 'Well dressed sleeper': 12,
 'Nanny 316': 13,
 'Ilia Ilich': 14,
 'Anne-car': 15,
 'suman': 16,
 'Joseph S Goode': 17,
 'BauBan': 18,
 'P. Stearns': 19,
 'Karen Beth Martin': 20,
 'Lynette': 21,
 'Rebecca Albritton': 22,
 'Dee odell': 23,
 'BELINDA ARROYO': 24,
 'Beki': 25,
 'Wojo': 26,
 'Eddie Wilmoth': 27,
 'Joanne Donahue': 28,
 'Vu Ngo': 29,
 'jules716': 30,
 'wrenforever': 31,
 'arewetheryet': 32,
 'Lmg': 33,
 'Ang Bowyer': 34,
 'K. Mras': 35,
 'Nayeli Ruiz': 36,
 'ASW': 37,
 'D. Bell': 38,
 'MDS': 39,
 'TexasJohnny': 40,
 'Sandra Murray': 41,
 'Claudia': 42,
 'Charlie P.': 43,
 'Keisha H.': 44,
 'Nolan Young': 45,
 'Christina Taylor': 46,
 'Amanda R': 47,
 'George S. Wolfson': 48,
 'E.': 49,
 'Brad': 50,
 'vicki andrew': 51,
 'Downy Fresh': 52,
 'Kathy young': 53,
 'S2U': 54,
 'Joe Mac': 55,
 'Helen K.': 56,
 'Happy Shopper': 57,
 'James Lee Owings III': 58,
 'Kevin R.': 59,
 'SALLY FROEHLE': 60,
 'brittany Miller': 61,
 'michael wulffen': 62,
 'Sharon Carbine': 63,
 'Dan Forst': 64,
 'Hunter Eutsey': 65,
 'evangeline culata': 66,
 'Richard Rodriguez': 67,
 'DannyP': 68,
 'Mek': 69,
 'DMC...': 70,
 'B3egan': 71,
 'deborah renee': 72,
 'Elizabeth Reicker': 73,
 'Joe gindi': 74,
 'Ross Cook': 75,
 'JOE BODY ': 76,
 'frantastic': 77,
 'suzie wearing': 78,
 'william whitaker': 79,
 'Isabel Hillock Davidson': 80,
 'Pedro': 81,
 'MARY LAMB': 82,
 'JoAnn G.': 83,
 'nene kidd': 84,
 "Johnny's girl": 85,
 'James Tanner': 86,
 'Terry-Logan': 87,
 'JoAnne Gilchrist': 88,
 'Christy c.': 89,
 'KBAD': 90,
 'DVM': 91,
 'Michael DeNick': 92,
 'Natalie A.': 93,
 'T. Eppes': 94,
 'Balaji': 95,
 'BBayne': 96,
 'NewEnglandMom': 97,
 'Scott C. Newell': 98,
 'Mary Francen': 99,
 'Jai': 100,
 'Vipul Mathur': 101,
 'Martha trejo': 102,
 'Jeannene': 103,
 'Ashley Mack': 104,
 'bjc': 105,
 'lennard': 106,
 'cudax': 107,
 'Andrea Dennis-Hart': 108,
 'Happy Camper': 109,
 'Coloring lady': 110,
 'Maria Sabia': 111,
 'Noakup': 112,
 'ADENE': 113,
 'Lady Piper': 114,
 'steve bennett': 115,
 'Todd D.': 116,
 'Kristin Hallsen': 117,
 'old trust…the dog': 118,
 'Pentimento': 119,
 'Sheena Ashley': 120,
 'Ki28': 121,
 'Frank Boardman': 122,
 'Okie48': 123,
 'Isaiah': 124,
 'Kathy Glendenning': 125,
 'M. Donigan': 126,
 'H.Matsu': 127,
 'Sean': 128,
 'Gia Dellaria ': 129,
 'SoCalGal': 130,
 'Jeff H': 131,
 'Debra Tippit': 132,
 'Marguerite F': 133,
 'D. Addiss': 134,
 'qvan': 135,
 'April Reynolds': 136,
 'Everaldo Morales': 137,
 'jsonage12': 138,
 'Randy Loewenthal': 139,
 'Harvey Morris': 140,
 'Adam Caruso': 141,
 'bac2nucom': 142,
 'Sam DeBois': 143,
 'Peggy W': 144,
 'MAA': 145,
 'Miss Diane': 146,
 'John G.': 147,
 'Pamela Anderson': 148,
 'Emjil': 149,
 'Amber Marks': 150,
 'tekwiz47': 151,
 'Kenneth': 152,
 'Mitch McNeal': 153,
 'A Uribe': 154,
 'ChuckIndy': 155,
 'Snow Shiloh': 156,
 'retired and busy': 157,
 'Magally Wood': 158,
 'DidiX10': 159,
 'danielcvillarreal': 160,
 'anwillia': 161,
 'Deborah Eastwood': 162,
 'Jujubeads68': 163,
 'Jake T': 164,
 'Daniel Molina': 165,
 'K. Sparling': 166,
 'Jrlover1952 ': 167,
 'Chris S': 168,
 'Jason Waller': 169,
 'Erica': 170,
 'janetwinston': 171,
 'Louie  M': 172,
 'little mittens': 173,
 'TMH': 174,
 'nanc': 175,
 'wlmgram': 176,
 'James C. Degatina': 177,
 "Ann-Marie Fortune'": 178,
 'vivaCaligula': 179,
 'Jerri Taylor': 180,
 'erikah thompson': 181,
 'Tayloranne 13': 182,
 'Darrell E. Davis': 183,
 'Valarie ': 184,
 'Jrzyldy': 185,
 'Selom A.': 186,
 'Shopper girl': 187,
 'Ak': 188,
 'Duke ': 189,
 'Cassidy Pamukcoglu': 190,
 'Nutella': 191,
 'mariah rackowski': 192,
 'Nuriel': 193,
 'Corine': 194,
 'J Romer': 195,
 'Willow': 196,
 'Predest Davis': 197,
 'Barbara S. Butko': 198,
 'Loki666': 199,
 'Leverne Turner': 200,
 'T. Huggins': 201,
 'Rick Steward': 202,
 'toni': 203,
 'DeAnna': 204,
 'Jaime Willow': 205,
 'Linda S Monte': 206,
 'S. Nor': 207,
 'JCS': 208,
 'Doyle Grizzle': 209,
 'John Dynkowski': 210,
 'BGT4VR': 211,
 'Maggie Ross': 212,
 'Bailey': 213,
 'Y. McDowell': 214,
 'abean': 215,
 'Jana': 216,
 'Ann18170': 217,
 'Lidia DiLuccia': 218,
 'Mark Hazzard': 219,
 'Lori Bailey': 220,
 'J. Warren': 221,
 'MissEbony94513': 222,
 'Mark Mueller': 223,
 'Squirley': 224,
 'Bilal Yunus': 225,
 'Matt Orio': 226,
 'Kenil Patel': 227,
 'Appliance & Kitchen Fan': 228,
 'Sonya': 229,
 'Michele Elizabeth': 230,
 'Todd S': 231,
 'wayne b': 232,
 'Nina Fonseca': 233,
 'Moran': 234,
 'Endora': 235,
 'Tonya M. Brown': 236,
 'stosh': 237,
 'V': 238,
 'Paula Zermeno': 239,
 'MD Shopper': 240,
 'AmazonMan': 241,
 'Martinez ': 242,
 'PAC': 243,
 'PMc gal': 244,
 'Amazon Customer ': 245,
 'Pandora Black': 246,
 'Leggs': 247,
 'Maria abreu': 248,
 'A.Classen': 249,
 'Shaynna Kimbrough': 250,
 'Lorri Rades': 251,
 'Nanny B. Nassau': 252,
 'Lulu': 253,
 'BobbiL': 254,
 'Ahmad Zalloum': 255,
 'Bud': 256,
 'Oksana Cruz': 257,
 'Bobby J Rice': 258,
 'Poff': 259,
 'mcogburn': 260,
 'Khammanh P.': 261,
 'J. Beni': 262,
 'Rita K.': 263,
 'Nikka Sosa': 264,
 'Mangelo': 265,
 'Jennifer L Davis': 266,
 'Lawrence J Earl': 267,
 'Joseph P. Coffey': 268,
 'marksteele': 269,
 'Chris Liu': 270,
 'Diana Omoduni': 271,
 'Didi14': 272,
 'Ashlynn': 273,
 'Zackary Meaders': 274,
 'New Jersey Foodies': 275,
 'Azra ': 276,
 'Matt': 277,
 'Alejandro is good product and good selling ': 278,
 'Robin D.': 279,
 'Katlyn Robertson': 280,
 'V T': 281,
 'Alex G.': 282,
 'Justin Giarnella': 283,
 'optimusm07': 284,
 'Greg M.': 285,
 'Hardik Sevak': 286,
 'spacattack': 287,
 'Marty Greene': 288,
 'Christopher Letez Lester': 289,
 'Tentoes Tiff': 290,
 'JoAnn Law': 291,
 'Steakman': 292,
 'buckeyefan': 293,
 'Joyce Bagley': 294,
 'DENISE': 295,
 'Odalys': 296,
 'dave': 297,
 'Sharon Carpenter': 298,
 'Gslug': 299,
 'Robert E Lindsay': 300,
 'David A. Franklin': 301,
 'Pam Flowers': 302,
 'Lisa A. Kuhn': 303,
 'Diane Littlejohn': 304,
 'Brenda praytor': 305,
 'Jaronmaria': 306,
 'kmbphx': 307,
 'Soccer 5': 308,
 'francisco': 309,
 'J.': 310,
 'gracie': 311,
 'Derrick Baker': 312,
 'alexis': 313,
 'Maritza Arreola': 314,
 'Ronald P.': 315,
 'BL Meyer': 316,
 'rebecca mccurry': 317,
 'Tacitus86': 318,
 'Chelsea 💛': 319,
 'i-fully': 320,
 'Lover of Cavaliers': 321,
 'Robert J. Kozora': 322,
 'Dalila palma': 323,
 'Tommy H': 324,
 'Maryt': 325,
 'Stacy Scholder': 326,
 'J dawn ': 327,
 'T. F.P': 328,
 'Michael murray': 329,
 'KELLI': 330,
 'Jill Myslinski': 331,
 'pg': 332,
 'Amy Balchan': 333,
 'Bham3722': 334,
 'Brent Westmoreland': 335,
 'Rodney M.': 336,
 'Katluver714': 337,
 'Hypnotiq': 338,
 'Beth Fowler': 339,
 'Valerie Coryat': 340,
 'gmb': 341,
 'Alejandra Forero': 342,
 'DonnaK': 343,
 'Y and K': 344,
 'Stephanie Libby': 345,
 'Andrew A. Kimler': 346,
 'Breeze1': 347,
 'Mr. Atomic': 348,
 'DustyFish': 349,
 'Shiv': 350,
 'Jessica Morgan': 351,
 'RandomTexan': 352,
 'G. L. Munn': 353,
 'Kyle T Ho-Nguyen': 354,
 'LONG ISLAND NY..': 355,
 'Mary Ellen': 356,
 'A.E. and Z.A.': 357,
 'TXChick': 358,
 'Bences': 359,
 'Laurie S': 360,
 'Tracydee': 361,
 'Dispatcher2763': 362,
 'Jon solorzano': 363,
 'C. Merser': 364,
 'Grace Wu': 365,
 'Agnes Maisonneuve': 366,
 'Guy N.': 367,
 'Howard Spencer': 368,
 'Bridget Vincent': 369,
 'mazzarano': 370,
 'Beboncho': 371,
 'Willie': 372,
 'Phyllis Silva': 373,
 'Barbara S': 374,
 'Amazon Customer Rafael': 375,
 'Eva': 376,
 'jalissa17': 377,
 'reba maiorana': 378,
 'Patrick Dayan': 379,
 'Ernie': 380,
 'Adventure Mom': 381,
 'S See': 382,
 'TBD': 383,
 'JW1999': 384,
 'Irina': 385,
 'Jan Hempstead': 386,
 'Kenny Sands': 387,
 'Margaret R. Duncan': 388,
 'Bobby Patrick': 389,
 'Gail Preziosio': 390,
 'Shelley Eckhert': 391,
 'Laura Hanson': 392,
 'Gamma': 393,
 'Kara Carter': 394,
 'Nikkirenee': 395,
 'Marcella Moore': 396,
 'candace warren': 397,
 'Kim Moore': 398,
 'Julia Fonteboa': 399,
 'Holly': 400,
 'Md': 401,
 'Melissa Taylor': 402,
 'Darlene Matesic': 403,
 'john mcmanus': 404,
 'Kim C.': 405,
 'rhonda Lucas': 406,
 'Del H.': 407,
 'Highgrove Manor': 408,
 'OK_rjd': 409,
 'K Moo': 410,
 'Sallie C. Sompayrac': 411,
 'AJ13_91': 412,
 'Don Marostica': 413,
 'Dave Garrison QTP-147997': 414,
 'Kat Duns': 415,
 'dolores pancoast': 416,
 'Ana V.': 417,
 'SonVu': 418,
 'Judy Canada': 419,
 'V.Itson': 420,
 'Connie Jo berwanger': 421,
 'D. Mckeon': 422,
 'Rosco I. Pirtle': 423,
 'Home Project Guy': 424,
 'Amby ': 425,
 'MurrDurr666': 426,
 'shades of cool': 427,
 'Ned Pearson': 428,
 'ELA teacher': 429,
 'Pandora': 430,
 'Ellawog67': 431,
 'Duane Treat': 432,
 'Lenise': 433,
 'M&J': 434,
 'Judy Bryant': 435,
 'Vero': 436,
 'The Cool Car Guy': 437,
 'eric reterstorf': 438,
 'hatice': 439,
 'Eve Rihe': 440,
 'cooper1996': 441,
 'Joybee10': 442,
 'Claire!': 443,
 'Margaret Good': 444,
 'Professor 91': 445,
 'Jhae': 446,
 'Ray Somerville': 447,
 'Kathie Ann Novak': 448,
 'stan honeycutt': 449,
 'Molly Kreuter': 450,
 'Gate Keeper': 451,
 'Rav4robert': 452,
 'Andrew Fenton': 453,
 'JAY M COALSON': 454,
 'William Cope': 455,
 'Janie J': 456,
 'Çhach': 457,
 'Erin': 458,
 'Ann Johnson': 459,
 'Marie Arlene Smith': 460,
 'Karen M. Lasante': 461,
 'Jeanice Owens': 462,
 'Virginia R. Wilcox': 463,
 'history': 464,
 'KWC': 465,
 'RVN67': 466,
 'TheKathyDaley': 467,
 'Gary P.': 468,
 'Jennifer D.': 469,
 'Yessenia Perez': 470,
 'Bird lover': 471,
 'barbara denton': 472,
 'Leini fermin': 473,
 'Suzanne Cooke': 474,
 'Eliz J': 475,
 'L. R. Bailey': 476,
 'NJ Shopper': 477,
 'E oconnor': 478,
 'Seline Payero': 479,
 'S. Lowry': 480,
 'Jim O.': 481,
 'Devonere ': 482,
 'NotJustNE12You': 483,
 'christopher meeks': 484,
 'Reggie Brady': 485,
 'Patricia Warder': 486,
 'BBM07': 487,
 'Susan M. Plymel': 488,
 'Siri E. Zenz': 489,
 'Clarissa Cannon': 490,
 'Mariano MT': 491,
 'Genie 🌹': 492,
 'john swanson': 493,
 'Wayne R. Crauder': 494,
 'Gary Tenney': 495,
 'Ms.B': 496,
 'dlw': 497,
 'Mayra Gonzalez': 498,
 'Leslie W.': 499,
 'Peter Mule': 500,
 'Noe': 501,
 'doc': 502,
 'Gregory P. Alford': 503,
 'Phyllis G.': 504,
 'Jonesie': 505,
 'Dean Klenke Sr': 506,
 'xxg': 507,
 'Jjss20': 508,
 'msverndc': 509,
 'Triple T': 510,
 'Sandi Xiong': 511,
 'ST': 512,
 'Jimmie Moore': 513,
 'Balvin R.': 514,
 'Kal': 515,
 'Michelle Patrick': 516,
 'Honest To A Fault': 517,
 'Buyer11': 518,
 'Yogini Viv ': 519,
 'Steve T': 520,
 'robert udelson': 521,
 'Jorge Dubon': 522,
 'Caroline F. Leban': 523,
 'Felipe Aaniz': 524,
 'connie b': 525,
 'Perry': 526,
 'Marco': 527,
 'Tammie Mann': 528,
 'Mercedes Davis': 529,
 'Universal girl': 530,
 'Kristin Burton': 531,
 'Dianne McCullough': 532,
 'Tina Deem': 533,
 'lindad': 534,
 'Janiep67': 535,
 'Ron Brady': 536,
 'jh2523': 537,
 'Thomas Shankings': 538,
 'Mrs. Silvers': 539,
 'Lydia Skordilis': 540,
 'Excited Shopper': 541,
 'xray1014': 542,
 'Patricia Forbes': 543,
 'Jazmin_XO': 544,
 'N. Acharya': 545,
 'AlwaysWorking': 546,
 'Jacqueline Vaz': 547,
 'Alexander Todorov': 548,
 'chad crawley': 549,
 'Justamom': 550,
 'Tisha Vargas': 551,
 'Alexia': 552,
 'cknddrc': 553,
 'AMY CASTANEDA': 554,
 'Dayamis Ramos': 555,
 'Stacy K Berumen': 556,
 'Claudia Perez': 557,
 'Dennis J. Wang': 558,
 'blondie': 559,
 'jan karosy': 560,
 'Tulika Srivastava': 561,
 'Athena Ruiz': 562,
 'Yvette': 563,
 'Yeagate': 564,
 'Michael Hernandez': 565,
 'Melanie': 566,
 'Katie R': 567,
 'Ryan Dunlap': 568,
 'CL Corlis': 569,
 'Doug Price': 570,
 'Tonya': 571,
 'sheila': 572,
 'Marisol Luna': 573,
 'MaDonna Robertson': 574,
 'SoDak woman': 575,
 'Justin Burkinshaw GAP Promo Director of Sales': 576,
 'Breanne V': 577,
 'V54': 578,
 'Jasmin': 579,
 'Birgibit': 580,
 'lms1968': 581,
 'Teresa Grant': 582,
 'papakeith': 583,
 'G. Kosacz': 584,
 'G. Jones': 585,
 'queenie zhang': 586,
 'Kittu Ji': 587,
 'Di': 588,
 'James E. Towle': 589,
 'Jasmin Herrera-Kirkaldy': 590,
 'Gerald J Voron': 591,
 'Michele R.': 592,
 'Susan Cox': 593,
 'Marine1': 594,
 'Victoria T.': 595,
 'Oregon Granny': 596,
 'Rhonda m Armstrong ': 597,
 'Homeowner mower repair': 598,
 'KMC': 599,
 'Jim Zanolli': 600,
 'Tammy Mize': 601,
 'Rrrandy!': 602,
 'George_MD': 603,
 'Nancy E. Gadbois': 604,
 'Dave M': 605,
 'Gale A.': 606,
 'deandra🍍': 607,
 'John Morrissey': 608,
 'Samantha Milward': 609,
 'Soheila': 610,
 'Trudi Broderick': 611,
 'mpezzsurvivor ': 612,
 'BasedShaman': 613,
 'Rebekah McCoy': 614,
 'Guillermo Diaz': 615,
 'H Vincent': 616,
 'Nicholas Kachuba': 617,
 'Lina': 618,
 'Derek Burney': 619,
 'Fred Norrell': 620,
 'Nicole D.': 621,
 'Ana LN': 622,
 'Great Falls, MT': 623,
 'The Glitter Life': 624,
 'MusicMan': 625,
 'Bethany': 626,
 'Ladie1980': 627,
 'PattyPie777': 628,
 'Nancy Card': 629,
 'Lilums': 630,
 'Gislaine Lopez': 631,
 'Marsha': 632,
 'LoveAmazon': 633,
 'sandy barrera': 634,
 'Jose Costa': 635,
 'Am. Cu.': 636,
 'jwd1919': 637,
 'Customer Review': 638,
 'Nancy Shirley': 639,
 'AverageJoeNamedBrad': 640,
 'Material Girl': 641,
 'L Santana': 642,
 'gayle': 643,
 'Aldo corona': 644,
 'Wegdan nash': 645,
 'Gerald Hobson': 646,
 'Janet A. Stauffer': 647,
 'Brenda Taylor': 648,
 'Alex cardena': 649,
 'Nicol': 650,
 'plittle': 651,
 'Terry Heyward': 652,
 'Bryce Miller': 653,
 'Darcel Day': 654,
 'Sam Bartolotta': 655,
 'Dr. Kurt Olmosk': 656,
 'Corinthia': 657,
 'Dr. Mom': 658,
 'Walter K Lenz': 659,
 'Vaughan Machado': 660,
 'WILLIAM D VAN ALSTINE': 661,
 'SUSAN MADAIN': 662,
 'CHERYL TODD': 663,
 'Rudy Ortiz': 664,
 'eric coleman': 665,
 'Mauro': 666,
 'MSki': 667,
 'Richard Roberts': 668,
 'nubia fuentes': 669,
 'C.J': 670,
 'RONALDO KOVACS': 671,
 'Jim Gordon': 672,
 'mashiemae16': 673,
 'Manville': 674,
 'Claudia E. Vidal': 675,
 'Larry W': 676,
 'Doc': 677,
 'Rafael Jeri': 678,
 'Alabama Grandmother': 679,
 'Forrester': 680,
 'Barbara Kessler': 681,
 'Sarah M.': 682,
 'LouAnn': 683,
 'Destiny Barbosa': 684,
 'S. Kaplan': 685,
 'cheryl hawkins': 686,
 'L. Abad': 687,
 'MyOpinion': 688,
 'C. Lu': 689,
 'FrogFriend': 690,
 'alib': 691,
 'Carla N': 692,
 'sapoznick': 693,
 'RSN': 694,
 'Ada Maria Lopez': 695,
 'Jorge Escobar': 696,
 'Mrs. B': 697,
 'Charlotte M.': 698,
 'Sara rowe': 699,
 'vega': 700,
 'mtnlmd': 701,
 'sonia rivera': 702,
 'Vanessa Brady': 703,
 'VICKI': 704,
 'Kevin Smith': 705,
 'DORA GONZALEZ': 706,
 'Momjs': 707,
 'Deborah Discolo': 708,
 'Cynthia A. Pratt': 709,
 'Carol Thrasher': 710,
 'Francis Fisher': 711,
 'Oded': 712,
 'Mhouser7': 713,
 'Carter Wilson': 714,
 'Lynda M. Mortensen': 715,
 'Zach V.': 716,
 'Mike S': 717,
 'C R Wolf': 718,
 'S. K. Glen': 719,
 'Jeremiah M Alonzo': 720,
 'Wesjenh': 721,
 'Anna Amaya': 722,
 'eddieliv': 723,
 'Miss D.': 724,
 'george b pruett': 725,
 'Christine Garrison': 726,
 'Lauren D.': 727,
 'Jaime Luvianos': 728,
 'dorrie A.Lefebvre': 729,
 'Madeline R Nemish': 730,
 'Jane S.': 731,
 'Tammy Herrin': 732,
 'Cesar Garcia': 733,
 'Nancy Smith': 734,
 'Nurse Jerri': 735,
 'Anthony Ace Rodriguez ': 736,
 'Miss Abbee': 737,
 'Tracey H': 738,
 'Alex B.': 739,
 'Robert Clark': 740,
 'Elba Burgos': 741,
 'Stephanie K. Kern': 742,
 ' MS Tommie': 743,
 'SJ': 744,
 'CCB': 745,
 'Roberta': 746,
 'kindling in Florida': 747,
 'Jim R': 748,
 'Brenda ': 749,
 'Jonathan S': 750,
 'Frank L. Helton': 751,
 'Jomarie Anton': 752,
 'Eileen Giardina': 753,
 'Daniel Powers': 754,
 'Michael G. Crawford': 755,
 'stormbringeram1': 756,
 'Jacqueline Fernandes': 757,
 'Rebecca B.': 758,
 'John P Matous Jr': 759,
 'CC': 760,
 'Connie H. Whalen': 761,
 'Amari Bernard': 762,
 'Veganman': 763,
 'Jim Lybarger': 764,
 'Michele Lee': 765,
 'Mara Burgos': 766,
 'jasmine g.': 767,
 'KollarC': 768,
 'Maria Calderon': 769,
 'Gregory L.': 770,
 'Burr Henry': 771,
 'Kathy P. Jones': 772,
 'cereal_killer': 773,
 'Novice gardener': 774,
 'jeff snyder': 775,
 'Michael Taylor': 776,
 'Gypsy 8': 777,
 'BE': 778,
 'lovemypets': 779,
 'Julie Freudenstein': 780,
 'alexander marasek': 781,
 'John S': 782,
 'Tirra': 783,
 'Billy Potter': 784,
 'dawnbaird': 785,
 'Joel Farchione': 786,
 'April ': 787,
 'victor manuel': 788,
 'Tara': 789,
 'Ashleigh': 790,
 'Eli Rodoliv': 791,
 'jacq': 792,
 'Kristin Gomez ': 793,
 'Bucky Sizemore': 794,
 'Take my money': 795,
 'Portia A. Forman': 796,
 'Susan White': 797,
 'Kristin M Farley': 798,
 'MBL': 799,
 'edison wang': 800,
 'matthew': 801,
 'Teraisa': 802,
 'Emma': 803,
 'Virginia L Volante': 804,
 'Jessica E Smith': 805,
 'Sunny Ski': 806,
 'klong': 807,
 'mehl30': 808,
 'Crystal Thomas': 809,
 'Mary A': 810,
 'Sim': 811,
 'April Henderson 😑😑😑😑': 812,
 'Tressie': 813,
 'Brenda Hauser': 814,
 'Lesly Alva': 815,
 'Miyako Rauls': 816,
 'Afair1': 817,
 'Old Music': 818,
 'MLS': 819,
 'Kerrigan': 820,
 'Denise H.': 821,
 'JZ': 822,
 'DH': 823,
 'finna': 824,
 'Glama Puss': 825,
 'Drew Dickens': 826,
 'Mackenzie758': 827,
 'Worldpeace': 828,
 'Carolyn M. Dever': 829,
 'jenna Douglas': 830,
 'A Satisfied Customer': 831,
 'Saleha Shifa': 832,
 'CHISHOLM TRAIL COWBOY CHURCH': 833,
 'Sandra Hambric': 834,
 'Phatfoxy': 835,
 'Jade': 836,
 'KDL': 837,
 'Just Another Small Business': 838,
 'Stacey Moore': 839,
 'Tiffane': 840,
 'joan brown': 841,
 'D': 842,
 'Lesley': 843,
 'Conchita Bradley': 844,
 'Tessa': 845,
 'Juan': 846,
 'Greg': 847,
 'reviewer': 848,
 'Valeria florimon': 849,
 'Joan Brigante': 850,
 'Leezabella': 851,
 'Oksana ': 852,
 'Ashley Mobley': 853,
 'Amanda': 854,
 'Denise C.': 855,
 '901Casual': 856,
 'Gwen K': 857,
 'Katherine Post': 858,
 'Melanie M.': 859,
 'Yenny Echeverrìa': 860,
 'Jim Edward': 861,
 'Angelica Tamayo': 862,
 'Gregg McCrea': 863,
 'Storcov': 864,
 'Amanda Wagner': 865,
 'Amy Carolyn ': 866,
 'Bonnie M': 867,
 'Joeanna': 868,
 'Sarah AE': 869,
 'Kat candiotti': 870,
 'elizabeth larocca': 871,
 'Stanley L.': 872,
 'S Daily': 873,
 'Ver-Le': 874,
 'donna l ross': 875,
 'Sky Fortenberry': 876,
 'Howard Frierman': 877,
 'Cynthia Newman': 878,
 'Scott C Bailey': 879,
 'Jennifer Paskert': 880,
 'Debra / John': 881,
 'Eric rodriguez': 882,
 'Kevman50': 883,
 'Laura B.': 884,
 'Brave1': 885,
 'michael mcdaniel': 886,
 'kim': 887,
 'EG': 888,
 'Clark': 889,
 '❤️': 890,
 'Rebecca Page': 891,
 'JULIO E.': 892,
 'TRAMMEL': 893,
 'Honest Reviewer': 894,
 'Jeff D Nys': 895,
 'Mr': 896,
 'Abran gomez': 897,
 'Shana Thomas': 898,
 'Twisted Scizzors salon': 899,
 'Mooly': 900,
 'Mama T': 901,
 'tenderhearted': 902,
 'Sunkissd1': 903,
 'just stah': 904,
 'Vickey H.': 905,
 'Xpress Car Wash Dallas': 906,
 'Sue Griffin': 907,
 'Christine Ballis': 908,
 'Karla Rivas': 909,
 'marcia olmo': 910,
 'TP': 911,
 'Lisa Phelps': 912,
 'Amado': 913,
 'Curtis': 914,
 'Breckley Wood': 915,
 'leann cassibry': 916,
 'S C': 917,
 'Carminita': 918,
 'Darshanie': 919,
 'Academics Online': 920,
 'P. Gudish': 921,
 'Ron L.': 922,
 'R Franklin Donohue': 923,
 'Carol Martin': 924,
 'Angi C': 925,
 'Carlie F.': 926,
 'TONY C': 927,
 'jeremy linton': 928,
 'Tom Brown': 929,
 'shaoyuan fu': 930,
 'Gymrat1970': 931,
 'Douglas Kent Boyle': 932,
 'montoreus nolen': 933,
 'paloma': 934,
 'Steven Smith': 935,
 'Raymond Marrero': 936,
 'faithchris': 937,
 'Persephone': 938,
 'Wesley Ho': 939,
 'noone': 940,
 'happy customer': 941,
 'Maelynn Stack': 942,
 'OJandPJ': 943,
 'Dana S.': 944,
 'Mandy Kaur': 945,
 'Thach Ho': 946,
 'jill harris': 947,
 'Tico52': 948,
 'Ricci': 949,
 'Justin Salvadore': 950,
 'Achi': 951,
 'MARYANN ,MA': 952,
 'Margarita Sosa': 953,
 'david mckenzie': 954,
 'Diamond Brown': 955,
 'Yan': 956,
 'Richard G.': 957,
 'Abigail Frietsch': 958,
 'MZLYNNY': 959,
 'sue': 960,
 'GRttt3': 961,
 'Killian': 962,
 'NewNuMe': 963,
 'tootsie salyer': 964,
 'Gloria R.': 965,
 'Alejandra Arcay': 966,
 'alexander76': 967,
 'Vanth Dreadstar': 968,
 'Getting by in Michigan': 969,
 'Jessica Carey': 970,
 'Stick Figure': 971,
 'c. heart': 972,
 'richard l force': 973,
 'Amarilys': 974,
 'Redbirdfly': 975,
 'slopez2022': 976,
 'Carras Perez': 977,
 'Eddie Parrish': 978,
 'C. Daniele': 979,
 'Glenn ': 980,
 'sgtstef': 981,
 'Valerie Worrell': 982,
 'Cindy Cole': 983,
 'Patricia and David': 984,

In [18]:
numberList = []
for i in ratings['ID']:
    numberList.append(idNumber.get(i))

In [19]:
ratings['user'] = numberList
ratings

C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1582708133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['user'] = numberList

                    ID        Asin  Rating   user
0                J. L.  B00004OCIZ       1  19838
1      Stephen Bolster  B00004OCIZ       3   3312
2      Amazon Customer  B00004OCIZ       2   4875
3          Tabletopper  B00004OCIZ       1  14554
4                 Eric  B00004OCIZ       1   3587
...                ...         ...     ...    ...
32757     nyla martens  B0B3HTNL38       5  16327
32758  Amazon Customer  B0B3HTNL38       5   4875
32759      peter souza  B0B3HTNL38       5  11634
32760          Micheal  B0B3HTNL38       1   5523
32761        Barbara S  B0B3HTNL38       5    374

[32762 rows x 4 columns]

In [20]:
ratings = ratings[['user', 'Asin', 'Rating']]
ratings

        user        Asin  Rating
0      19838  B00004OCIZ       1
1       3312  B00004OCIZ       3
2       4875  B00004OCIZ       2
3      14554  B00004OCIZ       1
4       3587  B00004OCIZ       1
...      ...         ...     ...
32757  16327  B0B3HTNL38       5
32758   4875  B0B3HTNL38       5
32759  11634  B0B3HTNL38       5
32760   5523  B0B3HTNL38       1
32761    374  B0B3HTNL38       5

[32762 rows x 3 columns]

In [21]:
numberList = []
for i in ratings['Asin']:
    numberList.append(asinNumber.get(i))

In [22]:
ratings['AsinNumber'] = numberList
ratings

        user        Asin  Rating  AsinNumber
0      19838  B00004OCIZ       1         114
1       3312  B00004OCIZ       3         114
2       4875  B00004OCIZ       2         114
3      14554  B00004OCIZ       1         114
4       3587  B00004OCIZ       1         114
...      ...         ...     ...         ...
32757  16327  B0B3HTNL38       5         119
32758   4875  B0B3HTNL38       5         119
32759  11634  B0B3HTNL38       5         119
32760   5523  B0B3HTNL38       1         119
32761    374  B0B3HTNL38       5         119

[32762 rows x 4 columns]

In [23]:
ratingss = ratings

In [24]:
ratings = ratingss[['user','AsinNumber','Rating']]
ratings

        user  AsinNumber  Rating
0      19838         114       1
1       3312         114       3
2       4875         114       2
3      14554         114       1
4       3587         114       1
...      ...         ...     ...
32757  16327         119       5
32758   4875         119       5
32759  11634         119       5
32760   5523         119       1
32761    374         119       5

[32762 rows x 3 columns]

In [25]:
ratings2 = ratingss[['user','Asin','Rating']]
ratings2

        user        Asin  Rating
0      19838  B00004OCIZ       1
1       3312  B00004OCIZ       3
2       4875  B00004OCIZ       2
3      14554  B00004OCIZ       1
4       3587  B00004OCIZ       1
...      ...         ...     ...
32757  16327  B0B3HTNL38       5
32758   4875  B0B3HTNL38       5
32759  11634  B0B3HTNL38       5
32760   5523  B0B3HTNL38       1
32761    374  B0B3HTNL38       5

[32762 rows x 3 columns]

In [26]:
items2.rename(columns={'Asin':'item_id'}, inplace = True)
items2.rename(columns={'Category':'genres'}, inplace = True)
items2.head()

      item_id            genres
0  B00004OCIZ  cleaningSupplies
1  B00004OCLJ  cleaningSupplies
2  B00094EWE2  cleaningSupplies
3  B000CC91GK  cleaningSupplies
4  B000V6YLNA  cleaningSupplies

In [27]:
items.rename(columns={'AsinNumber':'item_id'}, inplace = True)
items.rename(columns={'Category':'genres'}, inplace = True)
items.head()

C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/2518954780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items.rename(columns={'AsinNumber':'item_id'}, inplace = True)
C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/2518954780.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  items.rename(columns={'Category':'genres'}, inplace = True)

   item_id            genres
0      114  cleaningSupplies
1      307  cleaningSupplies
2      113  cleaningSupplies
3      284  cleaningSupplies
4      354  cleaningSupplies

In [28]:
ratings2.rename(columns={'user':'user_id'}, inplace = True)
ratings2.rename(columns={'Asin':'item_id'}, inplace = True)
ratings2.rename(columns={'Rating':'rating'}, inplace = True)
ratings2.head()

C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1320319341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings2.rename(columns={'user':'user_id'}, inplace = True)
C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1320319341.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings2.rename(columns={'Asin':'item_id'}, inplace = True)
C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1320319341.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings2.rename(columns={'Rating':'rating'}, inplace = True)

   user_id     item_id  rating
0    19838  B00004OCIZ       1
1     3312  B00004OCIZ       3
2     4875  B00004OCIZ       2
3    14554  B00004OCIZ       1
4     3587  B00004OCIZ       1

In [29]:
ratings.rename(columns={'user':'user_id'}, inplace = True)
ratings.rename(columns={'AsinNumber':'item_id'}, inplace = True)
ratings.rename(columns={'Rating':'rating'}, inplace = True)
ratings.head()

C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1821201807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.rename(columns={'user':'user_id'}, inplace = True)
C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1821201807.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.rename(columns={'AsinNumber':'item_id'}, inplace = True)
C:\Users\qudwh\AppData\Local\Temp/ipykernel_19648/1821201807.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings.rename(columns={'Rating':'rating'}, inplace = True)

   user_id  item_id  rating
0    19838      114       1
1     3312      114       3
2     4875      114       2
3    14554      114       1
4     3587      114       1

# 인기 기반 구현 Popular Based

In [30]:
def weighted_rating(v,m,R,C):
    '''
    Calculate the weighted rating
    
    Args:
    v -> average rating for each item (float)
    m -> minimum votes required to be classified as popular (float)
    R -> average rating for the item (pd.Series)
    C -> average rating for the whole dataset (pd.Series)
    
    Returns:
    pd.Series
    '''
    return ( (v / (v + m)) * R) + ( (m / (v + m)) * C )

def assign_popular_based_score(rating_df, item_df, user_col, item_col, rating_col):
    '''
    Assigned popular based score based on the IMDB weighted average.
    
    Args:
    rating -> pd.DataFrame contains ['item_id', 'rating'] for each user.
    
    Returns
    popular_items -> pd.DataFrame contains item and IMDB weighted score.
    '''
    
    # pre processing
    vote_count = (
        rating_df
        .groupby(item_col,as_index=False)
        .agg( {user_col:'count', rating_col:'mean'} )
        )
    vote_count.columns = [item_col, 'vote_count', 'avg_rating']
    
    # calcuate input parameters
    C = np.mean(vote_count['avg_rating'])
    m = np.percentile(vote_count['vote_count'], 70)
    vote_count = vote_count[vote_count['vote_count'] >= m]
    R = vote_count['avg_rating']
    v = vote_count['vote_count']
    vote_count['weighted_rating'] = weighted_rating(v,m,R,C)
    
    # post processing
    vote_count = vote_count.merge(item_df, on = [item_col], how = 'left')
    popular_items = vote_count.loc[:,[item_col, 'genres', 'vote_count', 'avg_rating', 'weighted_rating']]
    
    return popular_items

# init constant
USER_COL = 'user_id'
ITEM_COL = 'item_id'
RATING_COL = 'rating'

# calcualte popularity based
pop_items = assign_popular_based_score(ratings, items, USER_COL, ITEM_COL, RATING_COL)
pop_items = pop_items.sort_values('weighted_rating', ascending = False)

pop_items.head(30)

     item_id            genres  vote_count  avg_rating  weighted_rating
289      351  cleaningSupplies         100        4.94         4.461953
49        60  cleaningSupplies         100        4.89         4.436953
152      193  cleaningSupplies         100        4.86         4.421953
270      327  cleaningSupplies         100        4.83         4.406953
255      309  cleaningSupplies         100        4.81         4.396953
281      343  cleaningSupplies         100        4.81         4.396953
261      317  cleaningSupplies         100        4.81         4.396953
276      336  cleaningSupplies         100        4.80         4.391953
202      249  cleaningSupplies         100        4.77         4.376953
268      325  cleaningSupplies         100        4.76         4.371953
21        27  cleaningSupplies         100        4.75         4.366953
50        61  cleaningSupplies         100        4.73         4.356953
146      186  cleaningSupplies         100        4.73         4.356953
112      142  cleaningSupplies         100        4.72         4.351953
96       120  cleaningSupplies         100        4.71         4.346953
262      318  cleaningSupplies         100        4.70         4.341953
179      224  cleaningSupplies         100        4.68         4.331953
98       125  cleaningSupplies         100        4.67         4.326953
204      251  cleaningSupplies         100        4.66         4.321953
56        68  cleaningSupplies         100        4.65         4.316953
126      161  cleaningSupplies         100        4.65         4.316953
86       106  cleaningSupplies         100        4.65         4.316953
87       107  cleaningSupplies         100        4.65         4.316953
94       116  cleaningSupplies         100        4.64         4.311953
70        85  cleaningSupplies         100        4.64         4.311953
167      212  cleaningSupplies         100        4.63         4.306953
272      329  cleaningSupplies         100        4.63         4.306953
194      241  cleaningSupplies         100        4.63         4.306953
32        38  cleaningSupplies         100        4.63         4.306953
53        64  cleaningSupplies         100        4.63         4.306953

# Content-based

In [31]:
def top_k_items(item_id, top_k, corr_mat, map_name):
    
    # sort correlation value ascendingly and select top_k item_id
    top_items = corr_mat[item_id,:].argsort()[-top_k:][::-1] 
    top_items = [map_name[e] for e in top_items] 

    return top_items

# preprocessing
rated_items = items.loc[items[ITEM_COL].isin(ratings[ITEM_COL])].copy()

# extract the genre
genre = rated_items['genres'].str.split(",", expand=True)

# get all possible genre
all_genre = set()
for c in genre.columns:
    distinct_genre = genre[c].str.lower().str.strip().unique()
    all_genre.update(distinct_genre)
# all_genre.remove(None)

# create item-genre matrix
item_genre_mat = rated_items[[ITEM_COL, 'genres']].copy()
item_genre_mat['genres'] = item_genre_mat['genres'].str.lower().str.strip()

# OHE the genres column
for genre in all_genre:
    item_genre_mat[genre] = np.where(item_genre_mat['genres'].str.contains(genre), 1, 0)
item_genre_mat = item_genre_mat.drop(['genres'], axis=1)
item_genre_mat = item_genre_mat.set_index(ITEM_COL)

# compute similarity matix
corr_mat = cosine_similarity(item_genre_mat)


# get top-k similar items
ind2name = {ind:name for ind,name in enumerate(item_genre_mat.index)}
name2ind = {v:k for k,v in ind2name.items()}
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = corr_mat,
                            map_name = ind2name)

# display result
print("The top-k similar movie to item_id 99")
display(items.loc[items[ITEM_COL].isin(similar_items)])

del corr_mat
gc.collect();

The top-k similar movie to item_id 99

     item_id            genres
112      214  cleaningSupplies
113      132  cleaningSupplies
114      215  cleaningSupplies
115      306  cleaningSupplies
116       17  cleaningSupplies
117       40  cleaningSupplies
118      361  cleaningSupplies
119      315  cleaningSupplies
132       70  cleaningSupplies
362      119  cleaningSupplies

# Collaborative filtering
## Memory-based

In [32]:
from scipy.sparse import csr_matrix

# preprocess data
row = ratings[USER_COL]
col = ratings[ITEM_COL]
data = ratings[RATING_COL]

NUM_USERS = len(ratings)
NUM_ITEMS = len(items)

# init user-item matrix
mat = csr_matrix((data, (row, col)), shape=(NUM_USERS, NUM_ITEMS))
mat.eliminate_zeros()

# calculate sparsity
sparsity = float(len(mat.nonzero()[0]))
sparsity /= (mat.shape[0] * mat.shape[1])
sparsity *= 100
print(f'Sparsity: {sparsity:4.2f}%. This means that {sparsity:4.2f}% of the user-item ratings have a value.')

# compute similarity
item_corr_mat = cosine_similarity(mat.T)

# get top k item
print("\nThe top-k similar movie to item_id 99")
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

Sparsity: 0.26%. This means that 0.26% of the user-item ratings have a value.

The top-k similar movie to item_id 99

     item_id            genres
26        77  cleaningSupplies
34       203  cleaningSupplies
108       23  cleaningSupplies
172      341  cleaningSupplies
183      267  cleaningSupplies
205       21  cleaningSupplies
212       99  cleaningSupplies
254      326  cleaningSupplies
314      308  cleaningSupplies
325      337  cleaningSupplies

## Model based
### Matrix Factorization (MF) based (TruncatedSVD )

In [33]:
from sklearn.decomposition import TruncatedSVD

epsilon = 1e-9
n_latent_factors = 10

# calculate item latent matrix
item_svd = TruncatedSVD(n_components = n_latent_factors)
item_features = item_svd.fit_transform(mat.transpose()) + epsilon

# calculate user latent matrix
user_svd = TruncatedSVD(n_components = n_latent_factors)
user_features = user_svd.fit_transform(mat) + epsilon

# compute similarity
item_corr_mat = cosine_similarity(item_features)

# get top k item
print("\nThe top-k similar movie to item_id 99")
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

del user_features
gc.collect();

The top-k similar movie to item_id 99

     item_id            genres
33       246  cleaningSupplies
56       184  cleaningSupplies
77        11  cleaningSupplies
107      159  cleaningSupplies
134      124  cleaningSupplies
183      267  cleaningSupplies
204       18  cleaningSupplies
212       99  cleaningSupplies
230      282  cleaningSupplies
302       93  cleaningSupplies

### Matrix Factorization (MF) based ( Funk MF)

In [34]:
from surprise import SVD, accuracy
from surprise import Dataset, Reader
from surprise.model_selection import cross_validate
from surprise.model_selection.split import train_test_split

def pred2dict(predictions, top_k=None):
    
    rec_dict = defaultdict(list)
    for user_id, item_id, actual_rating, pred_rating, _ in predictions:
        rec_dict[user_id].append((item_id, pred_rating))        
        
    return rec_dict

def get_top_k_recommendation(rec_dict, user_id, top_k, ind2name):
    
    pred_ratings = rec_dict[user_id]
    # sort descendingly by pred_rating
    pred_ratings = sorted(pred_ratings, key=lambda x: x[1], reverse=True)
    pred_ratings = pred_ratings[:top_k]
    recs = [ind2name[e[0]] for e in pred_ratings]
    
    return recs

# prepare train and test sets
reader = Reader(rating_scale=(1,10))
data = Dataset.load_from_df(ratings, reader)
train, test = train_test_split(data, test_size=.2, random_state=42)

# init and fit the funk mf model
algo = SVD(random_state = 42)
algo.fit(train)
pred = algo.test(test);

# evaluation the test set
accuracy.rmse(pred)

# extract the item features from algo
item_corr_mat = cosine_similarity(algo.qi)

print("\nThe top-k similar movie to item_id 99")
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

del item_corr_mat
gc.collect();

RMSE: 1.4368

The top-k similar movie to item_id 99

     item_id            genres
25       136  cleaningSupplies
84        65  cleaningSupplies
175      359  cleaningSupplies
205       21  cleaningSupplies
212       99  cleaningSupplies
252      162  cleaningSupplies
291       91  cleaningSupplies
296      217  cleaningSupplies
323      226  cleaningSupplies
352      143  cleaningSupplies

# Generalized Matrix Factorization (Keras)

In [35]:
# pip install -q tensorflow-recommenders

In [36]:
# pip install -q --upgrade tensorflow-datasets

In [37]:
# pip install -q scann

In [38]:
from IPython.display import clear_output

import tensorflow as tf
import tensorflow_recommenders as tfrs
import tensorflow.keras as keras
from sklearn.model_selection import train_test_split

from typing import Dict, Text, Tuple

def df_to_ds(df):

    # convert pd.DataFrame to tf.data.Dataset
    ds = tf.data.Dataset.from_tensor_slices(
        (dict(df[['user_id','item_id']]), df['rating']))
    
    # convert Tuple[Dict[Text, tf.Tensor], tf.Tensor] to Dict[Text, tf.Tensor]
    ds = ds.map(lambda x, y: {
    'user_id' : x['user_id'],
    'item_id' : x['item_id'],
    'rating' : y
    })

    return ds.batch(256)

class RankingModel(keras.Model):

    def __init__(self, user_id, item_id, embedding_size):
        super().__init__()
        
        # user model
        input = keras.Input(shape=(), dtype=tf.string)
        x = keras.layers.StringLookup(
            vocabulary = user_id, mask_token = None
            )(input)
        output = keras.layers.Embedding(
            input_dim = len(user_id) + 1,
            output_dim = embedding_size,
            name = 'embedding'
        )(x)
        self.user_model = keras.Model(inputs = input,
                                      outputs = output,
                                      name = 'user_model')

        # item model
        input = keras.Input(shape=(), dtype=tf.string)
        x = keras.layers.StringLookup(
            vocabulary = item_id, mask_token = None
            )(input)
        output = keras.layers.Embedding(
            input_dim = len(item_id) + 1,
            output_dim = embedding_size,
            name = 'embedding'
        )(x)
        self.item_model = keras.Model(inputs = input,
                                  outputs = output,
                                  name = 'item_model')

        # rating model
        user_input = keras.Input(shape=(embedding_size,), name='user_emb')
        item_input = keras.Input(shape=(embedding_size,), name='item_emb')
        x = keras.layers.Concatenate(axis=1)([user_input, item_input])
        x = keras.layers.Dense(256, activation = 'relu')(x)
        x = keras.layers.Dense(64, activation = 'relu')(x)
        output = keras.layers.Dense(1)(x)
        
        self.rating_model = keras.Model(
            inputs = {
                'user_id' : user_input,
                'item_id' : item_input
            },
            outputs = output,
            name = 'rating_model'
        )

    def call(self, inputs: Dict[Text, tf.Tensor]) -> tf.Tensor:

        user_emb = self.user_model(inputs['user_id'])
        item_emb = self.item_model(inputs['item_id'])

        prediction = self.rating_model({
            'user_id' : user_emb,
            'item_id' : item_emb
        })
        
        return prediction

class GMFModel(tfrs.models.Model):

    def __init__(self, user_id, item_id, embedding_size):
        super().__init__()
        self.ranking_model = RankingModel(user_id, item_id, embedding_size)
        self.task = tfrs.tasks.Ranking(
            loss = keras.losses.MeanSquaredError(),
            metrics = [keras.metrics.RootMeanSquaredError()]
        )
    
    def call(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:
        
        return self.ranking_model(
            {
             'user_id' : features['user_id'], 
             'item_id' : features['item_id']
            })

    def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

        return self.task(labels = features.pop('rating'),
                         predictions = self.ranking_model(features))

# preprocess
train, test = train_test_split(ratings, train_size = .8, random_state=42)
train, test = df_to_ds(train), df_to_ds(test)

# # init model
embedding_size = 64
model = GMFModel(user_id.astype(str),
                 item_id.astype(str),
                 embedding_size)
model.compile(
    optimizer = keras.optimizers.Adagrad(learning_rate = .01)
)

# # fitting the model
model.fit(train, epochs=3, verbose=0)

# evaluate with the test data
result = model.evaluate(test, return_dict=True, verbose=0)
print("\nEvaluation on the test set:")
display(result)

# extract item embedding
item_emb = model.ranking_model.item_model.layers[-1].get_weights()[0]


item_corr_mat = cosine_similarity(item_emb)

print("\nThe top-k similar movie to item_id 99")
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

del item_corr_mat
gc.collect();

NameError: name 'user_id' is not defined

# Deep learning MF - Neural Collaborative Filtering (recommenders)

In [39]:
# pip install recommenders

Requirement already satisfied: recommenders in c:\users\qudwh\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: scipy<2,>=1.0.0 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.7.1)
Requirement already satisfied: seaborn<1,>=0.8.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (0.11.2)
Requirement already satisfied: requests<3,>=2.0.0 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (2.26.0)
Requirement already satisfied: nltk<4,>=3.4 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (3.6.5)
Requirement already satisfied: numpy>=1.19 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.20.3)
Requirement already satisfied: memory-profiler<1,>=0.54.0 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (0.60.0)
Requirement already satisfied: pyyaml<6,>=5.4.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (5.4.1)
Requirement already satisfied: pandera[strategies]>=0.6.5 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (0.11.0)
Requirement already satisfied: pandas<2,>1.0.3 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.4.2)
Requirement already satisfied: tqdm<5,>=4.31.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (4.62.3)
Requirement already satisfied: bottleneck<2,>=1.2.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.3.2)
Requirement already satisfied: cornac<2,>=1.1.2 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.14.2)
Requirement already satisfied: jinja2<3.1,>=2 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (2.11.3)
Requirement already satisfied: numba<1,>=0.38.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (0.54.1)
Requirement already satisfied: retrying>=1.3.3 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.3.3)
Requirement already satisfied: transformers<5,>=2.5.0 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (4.20.1)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scikit-learn<1.0.3,>=0.22.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (0.24.2)
Requirement already satisfied: scikit-surprise>=1.0.6 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.1.1)
Requirement already satisfied: lightgbm>=2.2.1 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (3.3.2)
Requirement already satisfied: lightfm<2,>=1.15 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.16)
Requirement already satisfied: matplotlib<4,>=2.2.2 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (3.4.3)
Requirement already satisfied: category-encoders<2,>=1.3.0 in c:\users\qudwh\anaconda3\lib\site-packages (from recommenders) (1.3.0)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\qudwh\anaconda3\lib\site-packages (from category-encoders<2,>=1.3.0->recommenders) (0.12.2)
Requirement already satisfied: patsy>=0.4.1 in c:\users\qudwh\anaconda3\lib\site-packages (from category-encoders<2,>=1.3.0->recommenders) (0.5.2)
Requirement already satisfied: powerlaw in c:\users\qudwh\anaconda3\lib\site-packages (from cornac<2,>=1.1.2->recommenders) (1.5)

Requirement already satisfied: MarkupSafe>=0.23 in c:\users\qudwh\anaconda3\lib\site-packages (from jinja2<3.1,>=2->recommenders) (1.1.1)
Requirement already satisfied: wheel in c:\users\qudwh\anaconda3\lib\site-packages (from lightgbm>=2.2.1->recommenders) (0.37.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\qudwh\anaconda3\lib\site-packages (from matplotlib<4,>=2.2.2->recommenders) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\qudwh\anaconda3\lib\site-packages (from matplotlib<4,>=2.2.2->recommenders) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\qudwh\anaconda3\lib\site-packages (from matplotlib<4,>=2.2.2->recommenders) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\qudwh\anaconda3\lib\site-packages (from matplotlib<4,>=2.2.2->recommenders) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\qudwh\anaconda3\lib\site-packages (from matplotlib<4,>=2.2.2->recommenders) (0.10.0)
Requirement already satisfied: six in c:\users\qudwh\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<4,>=2.2.2->recommenders) (1.16.0)
Requirement already satisfied: psutil in c:\users\qudwh\anaconda3\lib\site-packages (from memory-profiler<1,>=0.54.0->recommenders) (5.8.0)
Requirement already satisfied: click in c:\users\qudwh\anaconda3\lib\site-packages (from nltk<4,>=3.4->recommenders) (8.0.3)
Requirement already satisfied: joblib in c:\users\qudwh\anaconda3\lib\site-packages (from nltk<4,>=3.4->recommenders) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\qudwh\anaconda3\lib\site-packages (from nltk<4,>=3.4->recommenders) (2021.8.3)
Requirement already satisfied: setuptools in c:\users\qudwh\anaconda3\lib\site-packages (from numba<1,>=0.38.1->recommenders) (58.0.4)
Requirement already satisfied: llvmlite<0.38,>=0.37.0rc1 in c:\users\qudwh\anaconda3\lib\site-packages (from numba<1,>=0.38.1->recommenders) (0.37.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\qudwh\anaconda3\lib\site-packages (from pandas<2,>1.0.3->recommenders) (2021.3)
Requirement already satisfied: pyarrow in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (8.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (21.0)
Requirement already satisfied: wrapt in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (1.12.1)
Requirement already satisfied: pydantic in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (1.9.1)
Requirement already satisfied: typing-inspect>=0.6.0 in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (0.7.1)
Requirement already satisfied: hypothesis>=5.41.1 in c:\users\qudwh\anaconda3\lib\site-packages (from pandera[strategies]>=0.6.5->recommenders) (6.48.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\qudwh\anaconda3\lib\site-packages (from hypothesis>=5.41.1->pandera[strategies]>=0.6.5->recommenders) (21.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in c:\users\qudwh\anaconda3\lib\site-packages (from hypothesis>=5.41.1->pandera[strategies]>=0.6.5->recommenders) (1.0.0rc8)
Requirement already satisfied: sortedcontainers<3.0.0,>=2.1.0 in c:\users\qudwh\anaconda3\lib\site-packages (from hypothesis>=5.41.1->pandera[strategies]>=0.6.5->recommenders) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\qudwh\anaconda3\lib\site-packages (from requests<3,>=2.0.0->recommenders) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\qudwh\anaconda3\lib\site-packages (from requests<3,>=2.0.0->recommenders) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\qudwh\anaconda3\lib\site-packages (from requests<3,>=2.0.0->recommenders) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\qudwh\anaconda3\lib\site-packages (from requests<3,>=2.0.0->recommenders) (3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\qudwh\anaconda3\lib\site-packages (from scikit-learn<1.0.3,>=0.22.1->recommenders) (2.2.0)
Requirement already satisfied: colorama in c:\users\qudwh\anaconda3\lib\site-packages (from tqdm<5,>=4.31.1->recommenders) (0.4.4)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in c:\users\qudwh\anaconda3\lib\site-packages (from transformers<5,>=2.5.0->recommenders) (0.8.1)
Requirement already satisfied: filelock in c:\users\qudwh\anaconda3\lib\site-packages (from transformers<5,>=2.5.0->recommenders) (3.3.1)
Requirement already satisfied: tokenizers!=0.11.3,<0.13,>=0.11.1 in c:\users\qudwh\anaconda3\lib\site-packages (from transformers<5,>=2.5.0->recommenders) (0.12.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\qudwh\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.1.0->transformers<5,>=2.5.0->recommenders) (3.10.0.2)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\qudwh\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera[strategies]>=0.6.5->recommenders) (0.4.3)
Requirement already satisfied: mpmath in c:\users\qudwh\anaconda3\lib\site-packages (from powerlaw->cornac<2,>=1.1.2->recommenders) (1.2.1)

In [40]:
# pip install tf-slim

Requirement already satisfied: tf-slim in c:\users\qudwh\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: absl-py>=0.2.2 in c:\users\qudwh\anaconda3\lib\site-packages (from tf-slim) (1.0.0)
Requirement already satisfied: six in c:\users\qudwh\anaconda3\lib\site-packages (from absl-py>=0.2.2->tf-slim) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
from recommenders.models.ncf.ncf_singlenode import NCF
from recommenders.models.ncf.dataset import Dataset as NCFDataset
from recommenders.datasets.python_splitters import python_chrono_split
from recommenders.utils.constants import SEED as DEFAULT_SEED

# Initial parameters
TOP_K = 10
EPOCHS = 50
BATCH_SIZE = 1024
SEED = DEFAULT_SEED
# default column name
ratings.columns = ["userID","itemID","rating"]
ratings["timestamp"] = pd.to_datetime('2022-01-23') + pd.to_timedelta(np.random.randint(-100,0,size=(len(ratings),)), unit='d')
train, test = python_chrono_split(ratings, 0.75)
data = NCFDataset(train = train, test = test, seed=SEED,col_timestamp=None)
model = NCF (
    n_users=data.n_users, 
    n_items=data.n_items,
    model_type="NeuMF",
    n_factors=4,
    layer_sizes=[16,8,4],
    n_epochs=EPOCHS,
    batch_size=BATCH_SIZE,
    learning_rate=1e-3,
    verbose=1,
    seed=SEED
)

# fitting the model
model.fit(data)

# predict the data in the test set
predictions = [[row.userID, row.itemID, model.predict(row.userID, row.itemID)]
               for (_, row) in test.iterrows()]
               
item_input = np.array([model.item2id[i] for i in test["itemID"].values.tolist()])
item_emb = model.sess.run( model.embedding_mlp_Q   , feed_dict = {model.item_input : item_input[..., None] })

item_corr_mat = cosine_similarity(item_emb)

print("\nThe top-k similar movie to item_id 99")
similar_items = top_k_items(name2ind[99],
                            top_k = 10,
                            corr_mat = item_corr_mat,
                            map_name = ind2name)

display(items.loc[items[ITEM_COL].isin(similar_items)])

TypeError: __init__() got an unexpected keyword argument 'train'